.login-form {
  max-width: 300px;
  min-width: 300px;
  margin: 0 auto;
}

.login {
  width: 100%;
  height: calc(100vh - 140px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
