.userList__wrap {
  display: flex;
  flex-wrap: wrap;
}

.userList__card {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.userList__card {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.userList__pagination {
  margin: 12px;
  text-align: center;
}

.userList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: inherit;
}
